.button{
    font-family: Roboto, sans-serif;
    color: var(--primary-white-color);
    background-color: var(--acent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: flex;
    &:hover, &:focus{
    color: var(--acent-color);
    background-color: var(--primary-white-color);
}}