.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity var(--tra), visibility var(--tra);
    
}
.modal{
    width: 450px;
    min-height: 609px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    position: absolute;
    padding-top: 40px;
    padding-left: 41px;
    padding-bottom: 40px;
    padding-right: 39px;
    transition: transform var(--tra);
    @media screen and (min-width:1200px) {
        width: 528px;
        min-height: 581px;
     }

}
.close-modal{
   width: 30px; 
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.1); 
   border-radius: 50%; 
   display: flex;  
   align-items: center;
   justify-content: center;
   background-color: var(--primary-white-color);
   position: absolute;
   right: 10px;
   top: 10px;
   &:hover, &:focus{
    fill: var(--acent-color);
}
}
.close-svg{
    transition: fill var(--tra);
}


.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(2);
    transition: transform var(--tra);
}
.modal-title{
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    
    margin-bottom: 12px;
}
.title-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.input-label{
    
    
    display: block;
    
    
}
.input-wrapper{
    position: relative;
    display: block;
}
.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    margin-bottom: 10px;
    transition: border-color var(--tra);
    &:focus{
        border-color: var(--acent-color);
                    }
    &:focus + .modal-icon{
    fill: var(--acent-color);
}      
}
.modal-icon{
    position: absolute;
    top: 11px;
    left: 12px;
    transition: fill var(--tra);
           
}

.modal-coment{
    width: 100%;
    height: 120px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    &:focus{
        border: 1px solid rgba(33, 33, 33, 0.2);
    }
    &::placeholder{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    
    }
}


.check-text-link{
    text-decoration: underline;
    color: var(--acent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    margin-left: 0;
    display: block;
    margin-left: 5px;
    @media screen and (min-width:1200px) {
        font-size: 14px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       display: block;
       margin-left: 5px;
        
        
     }
}
.check-text{
    display: -webkit-box;
    align-items: center;
    font-size: 12px;
    @media screen and (min-width:1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(14 / 12);
        letter-spacing: 0.03em;
        
     }
    
}
.check-text span{
 display: flex;
 width: 16px;
 height: 15px;
 border-radius: 2px;
 border: 2px solid var(--title-text-color);
 align-items: center;
 justify-content: center;
 margin-right: 9px;
 fill: transparent;
 
}
.modal-field{
    display: flex;
}
.modal-check:checked + .check-text span{
    background-color: var(--acent-color);
    border: none;
    fill: #FFFFFF;
}
.button-modal{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color var(--tra), background-color var(--tra);
       border: none;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    &:hover, &:focus{
        background-color: #188CE8;
        color: var(--primary-white-color);
    }
}

